p{
    font-size: 24px;
    color: purple;
    background-color: azure;
    text-align: center;
}
body{
    padding: 10px;
    text-align: center;
    border: black solid 3px;
    background-color: bisque;
}