%mess{
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.success{
    @extend %mess;
    color: green;
}
.error{
    @extend %mess;
    color: red;
}
.warning{
    @extend %mess;
    color: orange;
}